.message-user-design {
  display: flex;
  justify-content: end;
}
.message-design {
  display: flex;
  justify-content: start;
}
.message {
  color: ghostwhite;
  display: flex;
  background-color: #373232;
  min-width: 100px;
  max-width: 250px;
  margin: 10px 5px;
  border-left: 3px solid rgb(255, 255, 255);
  border-right: 3px solid gold;
  border-radius: 0rem 1rem 0rem 1rem;
  z-index: 2;
}

.img-container {
  padding: 5px;
  overflow: hidden;
}

.img-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.content {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  padding: 1px 5px;
}
.content .date {
  font-size: 0.6rem;
  color: #756e6e;
}

.content .text {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.content .timec {
  display: flex;
  margin-top: 0.3rem;
}
.content .time {
  font-size: 0.6rem;
  color: #756e6e;
}

.content .timec .name {
  font-size: 0.6rem;
  margin-right: 0.3rem;
  color: gold;
}

.message-user {
  color: ghostwhite;
  display: flex;
  background-color: #373232;
  min-width: auto;
  max-width: 250px;
  margin: 10px 5px;
  border-left: 3px solid rgb(255, 255, 255);
  border-right: 2px solid gold;
  border-radius: 0rem 1rem 0rem 1rem;
  z-index: 2;
}

.message-user .content .timec {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 0.3rem;
}

.message-user .content .timec .name {
  margin-left: 0.3rem;
}
